* {
  font-family: Arial;
}
body {
  margin: 0;
  padding: 0;
}
img {
  width: 30px;
  height: auto;
}

/* HEADER */
header {
  height: 60px;
  background-color: rgb(50, 80, 162);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* header icon */
#facebook-img {
  width: 50px;
  position: fixed;
  top: 5px;
  left: 5px;
}
/* header links */
.header-links {
  display: inline-block;
  position: fixed;
  top: 7.5px;
  right: 5px;
  list-style: none;
  width: 220px;
  height: auto;
}
.header-links li {
  display: inline;
}
.header-links li a {
  text-decoration: none;
  color: white;
  margin: 0px 10px;
  margin-right: 0px;
}

/* MAIN */
main {
  margin: 100px 0px;
  margin-bottom: 200px;
}

/* main sections */
#sections {
  display: flex;
  flex-wrap: wrap;
  margin-right: 14%;
}
.all-sections {
  flex-grow: 1; /* Allow sections to grow */
  max-width: calc(45% - 20px); /* Set a maximum width for each section */
  min-width: 200px; /* Set a minimum width to avoid excessive shrinking */
  background-color: rgb(217, 230, 251);
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
}
.section-header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(175, 173, 173);
}
.section-header img {
  margin-right: 10px;
}

/* aside */
aside {
  position: fixed;
  top: 60px;
  right: 0;
  padding: 30px;
  height: 100%;
  background-color: rgb(217, 230, 251);
}

/* FOOTER */
footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: rgb(218, 220, 221);
  padding: 10px;
}
footer a,
footer p {
  text-decoration: none;
  color: rgb(50, 80, 162);
}

/* RESPONSIVE LAYOUT */
@media (max-width: 1200px) {
  .all-sections {
    max-width: 80%;
  }
}

/* mobile Layout */
@media (max-width: 1080px) {
  /* header */
  header {
    height: 350px;
    text-align: center;
    position: relative;
    padding-top: 50px;
    margin: 0;
  }
  #facebook-img {
    display: block;
    position: static;
    margin: 20px 50;
    margin-left: 49%;
  }
  .header-links {
    position: static;
  }
  .header-links li {
    display: block;
    margin: 50px 0;
    margin-left: -20px;
  }

  /* MAIN */
  main {
    margin: 100px 0px;
    margin-bottom: 0px;
  }

  /* sections */
  #sections {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
  .all-sections {
    background-color: rgb(217, 230, 251);
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    max-width: 80%;
  }
  /* aside */
  aside {
    position: relative;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
  }
  aside img {
    margin-top: 50px;
  }
}
